<div class="app-container">
	<div class="title">Rasterization Visualizer</div>
	<div class="rasterizer-container">
		<app-input-form id="input-form"></app-input-form>
		<app-svg-viewbox id="svg-viewbox"></app-svg-viewbox>
		<div id="description" class="desc">“Rasterization is the task of taking an image described in a vector
			graphics
			format and converting
			it into a raster image (a series of pixels, dots, or lines, which, when displayed together, create the image
			which was represented via shapes).” —<a href="https://en.wikipedia.org/wiki/Rasterisation"
				target="_blank">Wikipedia</a>
		</div>
	</div>
	<div class="rpnet"><a href="http://reesepeltier.net">
			<img src="assets/reese.png" height="50" title="reesepeltier.net">
		</a></div>
</div>